<h2 mat-dialog-title class="title">{{firstTitle}} {{title.toLowerCase()}}</h2>
<div mat-dialog-content>
  <form name="authForm" #authForm="ngForm" class="main-content">
    <mat-form-field *ngIf="data.dialogType !== dialogType.NewPassword">
      <input name=" authEmail" [(ngModel)]="email" #inEmail="ngModel" matInput placeholder="Email">
    </mat-form-field>
    <mat-form-field *ngIf="data.dialogType === dialogType.SignUp">
      <input name="authUserName" [(ngModel)]="userName" #upNickname="ngModel" matInput placeholder="Username">
    </mat-form-field>
    <mat-form-field
      *ngIf="data.dialogType === dialogType.SignUp || data.dialogType === dialogType.SignIn || data.dialogType === dialogType.NewPassword">
      <input name="authPassword" [(ngModel)]="password" #upPassword="ngModel" matInput
        [type]="hidePass ? 'password' : 'text'" placeholder="Password">
      <mat-icon matSuffix (click)="hidePass = !hidePass">{{hidePass ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field>
    <mat-form-field *ngIf="data.dialogType === dialogType.NewPassword">
      <input name="authPassword" [(ngModel)]="confirmPassword" #upPassword="ngModel" matInput
        [type]="hidePass ? 'password' : 'text'" placeholder="Confirm password">
      <mat-icon matSuffix (click)="hidePass = !hidePass">{{hidePass ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field>
  </form>
</div>
<div class="actions">
  <button mat-raised-button (click)="close()">Back</button>
  <button mat-raised-button *ngIf="data.dialogType === dialogType.SignUp || data.dialogType === dialogType.SignIn"
    color="primary" (click)="data.dialogType === dialogType.SignUp ? signUp() : signIn()">{{title}}</button>
  <button mat-raised-button *ngIf="data.dialogType === dialogType.ResetPassword" color="primary"
    (click)="sendEmail()">Send Email</button>
  <button mat-raised-button *ngIf="data.dialogType === dialogType.NewPassword" color="primary"
    (click)="setPassword()">Set Password</button>
</div>
<div class="sub-actions" *ngIf="data.dialogType === dialogType.SignIn">
  <button mat-button (click)="openResetPassword()">Reset password</button>
</div>