.mat-card
    border-radius: 0
    background: #e8f5ff40
    box-shadow: none
    border-top: 1px solid rgba(0, 0, 0, 0.2)
    font-size: 14px
    padding-left: 35px

.mat-icon
    font-size: 15px

button
    width: 25px

.mat-card
    margin: 0 -16px

.mat-card-avatar 
    height: 30px
    width: 30px

.mat-card-title
    font-size: 17px

.mat-card-actions
    padding: 0

.mat-icon-button
    height: auto
    line-height: inherit

.mat-card-content
    margin-top: 10px

.toggle-post-settings-submenu
    position: absolute
    line-height: 30px
    list-style: none
    margin: 0
    padding: 0px 10px
    z-index: 1
    background-color: white
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3)
    li 
        text-align: left
    a  
        font-size: 16px

.new-comment
    width: 100%
    display: flex
    flex-direction: row
    align-items: center
    padding: 20px 0
    .mat-form-field
        width: 100%
    .mat-icon
        font-size: 22px