<div *ngIf="commentExsist">
  <mat-card>
    <div *ngIf="!showEdit">
      <mat-card-header>
        <img mat-card-avatar src="{{comment.author.avatar}}" alt="Avatar">
        <mat-card-title>{{comment.author.userName}} </mat-card-title>
        <div>{{comment.createdAt | date:'d/M/yy, h:mm a'}}</div>
      </mat-card-header>
      <mat-card-content>
        <p>{{comment.body}}</p>
      </mat-card-content>
      <mat-card-actions class="actions-buttons" align="end">
        <button mat-icon-button color="primary" (click)="reactComment(true)">
          <mat-icon matBadge="{{commentLikes}}" matBadgeSize="small" matBadgeColor="accent"
            [matBadgeHidden]="commentLikes === 0" aria-label="Like">
            favorite</mat-icon>
        </button>
        <button mat-icon-button color="basic">
          <mat-icon (click)="showLikes()" aria-label="List of likes">list</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="reactComment(false)">
          <mat-icon matBadge="{{commentDislikes}}" matBadgeSize="small" matBadgeColor="accent"
            [matBadgeHidden]="commentDislikes === 0" aria-label="Dislike">thumb_down</mat-icon>
        </button>
        <button mat-icon-button color="basic">
          <mat-icon (click)="showDislikes()" aria-label="List of dislikes">list</mat-icon>
        </button>
        <div *ngIf="currentUser != null  && comment.author.id == currentUser.id">
          <button mat-icon-button color="basic" (click)="toggleCommentSettings()">
            <mat-icon id="settingsButton" aria-label="Share">settings</mat-icon>
            <div *ngIf="showSettings">
              <ul class="toggle-post-settings-submenu">
                <li>
                  <a (click)="edit()">Edit</a>
                </li>
                <li>
                  <a (click)="delete()">Delete</a>
                </li>
              </ul>
            </div>
          </button>
        </div>
      </mat-card-actions>
    </div>

    <div *ngIf="showEdit">
      <mat-divider></mat-divider>
      <div class="new-comment">
        <mat-form-field>
          <textarea [(ngModel)]="comment.body" matInput placeholder="Edit it..."></textarea>
        </mat-form-field>
        <button mat-icon-button color="primary" matTooltip="Send" (click)="sendComment()">
          <mat-icon aria-label="Send">send</mat-icon>
        </button>
      </div>
    </div>
  </mat-card>
</div>