<mat-card class="post-create-container" *ngIf="currentUser && showPostContainer">
  <div *ngIf="loading" class="mat-spinner-wrapper">
    <mat-spinner></mat-spinner>
  </div>
  <mat-card-content>
    <mat-form-field>
      <textarea [(ngModel)]="post.body" matInput placeholder="Write something..."></textarea>
    </mat-form-field>
    <div class="image-container">
      <mat-icon aria-label="Send" (click)="removeImage()">close</mat-icon>
      <img mat-card-image class="post-image" *ngIf="imageUrl" mat-card-image src="{{imageUrl}}" alt="Photo">
    </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <input hidden #file accept="image/*" type="file" (change)="loadImage($event.target)">
    <button mat-icon-button color="accent" (click)="file.click()">
      <mat-icon aria-label="Choose an image">image</mat-icon>
    </button>
    <button mat-icon-button color="primary" matTooltip="Post it" (click)="sendPost()">
      <mat-icon aria-label="Send">send</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
<mat-toolbar *ngIf="!currentUser">
  <p class="link" (click)="openAuthDialog()">Want to post? Sign in</p>
</mat-toolbar>

<mat-card class="posts-container">
  <div *ngIf="loadingPosts" class="mat-spinner-wrapper posts-spinner">
    <mat-spinner></mat-spinner>
  </div>
  <div class="main-thread">
    <div class="main-actions" *ngIf="currentUser && !isSinglePostMode">
      <button mat-raised-button matTooltip="Write a post" (click)="toggleNewPostContainer()">
        <mat-icon color="accent">add_comment</mat-icon>
      </button>
      <button mat-flat-button matTooltip="Search" (click)="showSearch = !showSearch">
        <mat-icon>search</mat-icon>
      </button>
      <div class="sort-field">
        <mat-form-field>
          <mat-label>Sort by</mat-label>
          <mat-select value="Popularity">
            <mat-option value="Popularity" (click)="setSortType(sortByPopularity)">Popularity</mat-option>
            <mat-option value="Date" (click)="setSortType(sortByDate)">Date</mat-option>
            <mat-option value="Count of comments" (click)="setSortType(sortByCountOfComments)">Count of comments
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-flat-button (click)="isSortReverse = !isSortReverse; setSortType()">
          <mat-icon *ngIf="!isSortReverse">arrow_upward</mat-icon>
          <mat-icon *ngIf="isSortReverse">arrow_downward</mat-icon>
        </button>
      </div>
      <button mat-flat-button color="primary" matTooltip="Filter posts" (click)="openFilter()">
        <mat-icon>filter_list</mat-icon>
      </button>
    </div>
    <div class="anonymous-actions" *ngIf="!currentUser && posts.length !== 0 && !loadingPosts && !isSinglePostMode
    ">
      <button mat-flat-button matTooltip="Search" (click)="showSearch = !showSearch">
        <mat-icon>search</mat-icon>
      </button>
      <div class="sort-field">
        <mat-form-field>
          <mat-label>Sort by</mat-label>
          <mat-select value="Popularity">
            <mat-option value="Popularity" (click)="setSortType(sortByPopularity)">Popularity</mat-option>
            <mat-option value="Date" (click)="setSortType(sortByDate)">Date</mat-option>
            <mat-option value="Count of comments" (click)="setSortType(sortByCountOfComments)">Count of comments
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-flat-button (click)="isSortReverse = !isSortReverse; setSortType()">
          <mat-icon *ngIf="!isSortReverse">arrow_upward</mat-icon>
          <mat-icon *ngIf="isSortReverse">arrow_downward</mat-icon>
        </button>
      </div>
    </div>
    <div *ngIf="showSearch" class='search-form-field'>
      <mat-form-field>
        <mat-label>Key words</mat-label>
        <input matInput type="text" [(ngModel)]="searcString">
        <button mat-button *ngIf="searcString" matSuffix mat-icon-button aria-label="Clear" (click)="searcString=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <button mat-flat-button color="primary" (click)="search()">
        <mat-icon>search</mat-icon>
      </button>
    </div>
    <mat-toolbar *ngIf="posts.length === 0 && !loadingPosts">
      <p class="no-content">There is nothing</p>
    </mat-toolbar>
    <div *ngFor="let _post of posts" class="user-post">
      <app-post [post]="_post" [currentUser]="currentUser"></app-post>
    </div>
  </div>
</mat-card>