<h2 mat-dialog-title class="title">Users that {{title}} this {{entityName}}</h2>

<div *ngFor="let _user of users" class="main-content">
    <img mat-card-avatar src="{{_user.avatar}}" alt="Avatar">
    <div class="user_name">
        {{_user.userName}}
    </div>
</div>