.main-content
    display: flex
    justify-content: start
    align-items: center
    flex-direction: row
    margin-bottom: 10px

.title
    text-align: center

mat-icon
    cursor: default

.mat-card-avatar 
    height: 25px
    width: 25px

.user_name
    margin-left: 10px