<div *ngIf="postExsist">
  <mat-card [ngClass]="{'post-with-comments': showComments}">
    <mat-card-header>
      <img mat-card-avatar src="{{post.author.avatar}}" alt="Avatar">
      <mat-card-title>{{post.author.userName}}</mat-card-title>
      <div class="date">{{post.createdAt | date:'d/M/yy, h:mm a'}}</div>
    </mat-card-header>
    <img mat-card-image *ngIf="post.previewImage" mat-card-image src="{{post.previewImage}}" alt="Photo">
    <mat-card-content>
      <p>{{post.body}}</p>
    </mat-card-content>
    <mat-card-actions class="actions-buttons" align="end">
      <button mat-icon-button color="primary" (click)="reactPost(true)">
        <mat-icon matBadge="{{postLikes}}" matBadgeColor="accent" matBadgeSize="medium"
          [matBadgeHidden]="postLikes === 0" aria-label="Like">favorite</mat-icon>
      </button>
      <button mat-icon-button color="basic">
        <mat-icon (click)="showLikes()" aria-label="List of likes">list</mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="reactPost(false)">
        <mat-icon matBadge="{{postDislikes}}" matBadgeColor="accent" matBadgeSize="medium"
          [matBadgeHidden]="postDislikes === 0" aria-label="Dislike">thumb_down</mat-icon>
      </button>
      <button mat-icon-button color="basic">
        <mat-icon (click)="showDislikes()" aria-label="List of dislikes">list</mat-icon>
      </button>
      <button mat-icon-button color="accent" (click)="showShare = !showShare">
        <mat-icon id="shareButton" aria-label="Share">share</mat-icon>
        <div *ngIf="showShare">
          <ul class="toggle-post-settings-submenu">
            <li>
              <a (click)="shareByEmail()">Email</a>
            </li>
            <li>
              <a [cdkCopyToClipboard]="link" [cdkCopyToClipboardAttempts]="5">Link</a>
            </li>
          </ul>
        </div>
      </button>
      <button mat-icon-button color="basic" (click)="toggleComments()">
        <mat-icon matBadge="{{post.comments.length}}" matBadgeColor="warn" matBadgeSize="medium"
          [matBadgeHidden]="post.comments.length === 0" aria-label="Add comment">comment</mat-icon>
      </button>
      <div *ngIf="currentUser != null  && post.author.id == currentUser.id">
        <button mat-icon-button color="basic" (click)="togglePostSettings()">
          <mat-icon id="settingsButton" aria-label="Share">settings</mat-icon>
          <div *ngIf="showSettings">
            <ul class="toggle-post-settings-submenu">
              <li>
                <a (click)="editPost()">Edit</a>
              </li>
              <li>
                <a (click)="deletePost()">Delete</a>
              </li>
            </ul>
          </div>
        </button>
      </div>
    </mat-card-actions>

    <div *ngIf="showEdit" class="post-update-conteiner">
      <mat-divider></mat-divider>
      <mat-card-content>
        <mat-form-field>
          <textarea [(ngModel)]="post.body" matInput placeholder="Edit text"></textarea>
        </mat-form-field>
        <div class="image-container">
          <mat-icon aria-label="Send" (click)="removeImage()">close</mat-icon>
          <img mat-card-image class="post-image" *ngIf="post.previewImage" mat-card-image src="{{post.previewImage}}"
            alt="Photo">
        </div>
      </mat-card-content>
      <mat-card-actions align="end">
        <input hidden #file accept="image/*" type="file" (change)="loadImage($event.target)">
        <button mat-icon-button color="accent" (click)="file.click()">
          <mat-icon aria-label="Choose an image">image</mat-icon>
        </button>
        <button mat-icon-button color="primary" matTooltip="Post it" (click)="sendEditedPost()">
          <mat-icon aria-label="Send">send</mat-icon>
        </button>
      </mat-card-actions>
    </div>

    <div *ngIf="showComments">
      <mat-divider></mat-divider>
      <div class="new-comment">
        <mat-form-field>
          <textarea [(ngModel)]="newComment.body" matInput placeholder="Comment it..."></textarea>
        </mat-form-field>
        <button mat-icon-button color="primary" matTooltip="Send" (click)="sendComment()">
          <mat-icon aria-label="Send">send</mat-icon>
        </button>
      </div>
      <div *ngIf="post.comments.length > 0" class="comments-count">
        Just {{post.comments.length}} in all
      </div>
      <app-comment *ngFor="let _comment of post.comments" [comment]="_comment" [currentUser]="currentUser">
      </app-comment>
    </div>
  </mat-card>
</div>