<h2 mat-dialog-title class="title">Filter</h2>
<div class="filters">
    <div class="toggles">
        <mat-slide-toggle [(ngModel)]="filterSettings.isOnlyMine" [disabled]="filterSettings.isNotMine">Only mine
        </mat-slide-toggle>
        <mat-slide-toggle [(ngModel)]="filterSettings.isNotMine" [disabled]="filterSettings.isOnlyMine">Not mine
        </mat-slide-toggle>
        <mat-slide-toggle [(ngModel)]="filterSettings.isILiked">I liked</mat-slide-toggle>
    </div>
    <mat-form-field color="accent">
        <mat-label>From</mat-label>
        <input matInput ngDefaultControl [matDatepicker]="picker1" (dateChange)="setFromDate($event)"
            [value]="filterSettings.createdDateFrom">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1 color="primary"></mat-datepicker>
    </mat-form-field>
    <mat-form-field color="accent">
        <mat-label>To</mat-label>
        <input matInput ngDefaultControl [matDatepicker]="picker2" (dateChange)="setToDate($event)"
            [value]="filterSettings.createdDateTo">
        <mat-datepicker-toggle matSuffix [for]="picker2">
        </mat-datepicker-toggle>
        <mat-datepicker #picker2 color="primary"></mat-datepicker>
    </mat-form-field>
    <div class="range-title">Count of comments:</div>
    <ejs-slider class="range-slider" (changed)="setCountOfComments($event)"
        [value]='filterSettings.countOfComments.range' [type]='filterSettings.countOfComments.type'
        [tooltip]='filterSettings.countOfComments.tooltip' [min]='filterSettings.countOfComments.min'
        [max]='filterSettings.countOfComments.max'>
    </ejs-slider>

    <div class="range-title">Popularity:</div>
    <ejs-slider class="range-slider" (changed)="setPopularity($event)" [value]='filterSettings.popularity.range'
        [type]='filterSettings.popularity.type' [tooltip]='filterSettings.popularity.tooltip'
        [min]='filterSettings.popularity.min' [max]='filterSettings.popularity.max'>
    </ejs-slider>
    <button mat-flat-button color='primary' (click)="close()">Filter</button>
    <button mat-flat-button (click)="clear()">Clear</button>
</div>