@import '~@angular/material/theming'
@import '../../../theme'

$primary: map-get($thread-theme, primary)

.title
    text-align: center

.toggles
    display: flex
    flex-direction: column

.filters
    display: flex
    flex-direction: column

.range-title
    margin-top: 15px

.mat-form-field
    margin-top: 15px

.range-slider 
    .e-range
        background-color: mat-color($primary)
    .e-handle
        background-color: mat-color($primary)
        border-color: mat-color($primary)
